services:
  app:
    build: .
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      - DATABASE_URL=postgresql://postgres:722811@db:5432/FintrackerDB
    depends_on:
      - db
    command: sh -c "npm install && npx next dev -H 0.0.0.0"

  db:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=722811
      - POSTGRES_DB=FintrackerDB
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  node_modules:
  postgres_data:
