services:
  app:
    build: .
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: sh -c "npm install && npx next dev -H 0.0.0.0"

volumes:
  node_modules:
